* {
	box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color: #fff;
  color: #4a4b4c;
}

.site-header{
  background-color: #F6F6F6;
}

.container {
	width: 100%;
	max-width: 1260px;
	padding-left: 30px;
	padding-right: 30px;
	margin-left: auto;
	margin-right: auto;
}

.site-header-container {
  width: 1260px;
  height: 105px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.logo {
	display: flex;
}

.site-logo-img {
  margin-top: 12px;
  margin-left: 6px;
}

.logo-container {
  width: 276px;
  height: 45px;
  margin-right: 35px;
  text-align: center;
  background-color: #fff;
  border-radius: 7px;
}

.fas {
  color: #2959CE;
}

.money {
  font-family: "Rubik", "arial", sans-serif;
  font-weight: bold;
}
.dollor {
  margin-right: 25px;
}

.publ {
  margin-right: 239px;
}

.search-room {
  font-family: "Rubik", "arial", sans-serif;
  border-radius: 60px;
  width: 275px;
  height: 45px;
  margin-right: 25px;
  border: none;
  padding-left: 38px;
  outline: 0;
}

.search-wrapper {
  position: relative;
}

.search-wrapper > i.fa-search {
  position: absolute;
  left: 15px;
  top: 15px;
  color: #777;
}

.lang-toggle {
	display: inline-flex;
	width: 68px;
	padding: 4px;
	border-radius: 20px;
	background-color: #DCE6FF;
  margin-right: 25px;
}

.lang-toggle-item {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
}

.lang-toggle-item-active {
	background-color: #fff;
	color: #000;
}

.exit-button {
  font-family: "Rubik", "arial", sans-serif;
  width: 89px;
  height: 45px;
  background-color: #7296EC;
  border-radius: 10px;
  text-align: center;
}

.exit-button-text {
  font-family: "Rubik", "arial", sans-serif;
  color: #fff;
  margin-top: 13px;
}
